.Home__background{
    background: url('../../images/stars.svg'), #1B1B25;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 1;
    padding-top: 15rem;
    padding-left: 10rem;
}

h1.Home__color-text{
    color: aliceblue;
}

.Home__image-logo{
    grid-area: image;
    width: 100%;
}