.NotFound__background{
    background: url('../../images/stars.svg'), #1B1B25;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 1;
    padding-top: 5rem;
    padding-left: 5rem;
}

h2.NotFound__color-text{
    color: aliceblue;
}

.NotFound__image-logo{
    grid-area: image;
    width: 100%;
}

h1.NotFound__color-text{
    color: aliceblue;
}

.Notfound__title{
    font-size: 60px;
    color: #ffffff
}

.Notfound__404-text{
    font-size: 200px;
    color: #ffffff
}